$white: #c8ced3;
.gray .opcAdmin {
        div,table,tr,td,th,input,#allocation-control-date-range{
            background:#2e2e2e !important;
            color:$white !important;
            border-color: #3a4149 !important;
        }
        .AdCards .AdCardsHeader .AdCards_Heading,
        .AdCards .AdCardsHeader .AdCards_Button{
            color:#FFC105 !important;
        }
        .Select-value-label{
            color:$white !important;
        }
        .cloudIconStyles{
            background:none !important;
        }
        .app-body{
                background-color: #2e2e2e !important;
        }
        .alert-warning {
            color: #8a6d3b !important;
            background-color: #fcf8e3 !important;
            border-color: #faebcc !important;
        }
        .loading-bar{
            background-color: #279cdb !important;
        }
        .AdCards .AdCardsHeader,
        .loading-bar-container,div.AdCards_Svg div{ 
            background:#3a4149 !important;
        }
        ::-webkit-scrollbar { width: 8px; height: 12px;}
        ::-webkit-scrollbar-track:vertical {  background-color: #666;}
        ::-webkit-scrollbar-track:horizontal {  background-color: #666;}
        ::-webkit-scrollbar-track-piece:vertical { background-color: #666;}
        ::-webkit-scrollbar-track-piece:horizontal { background-color: #666;}
        ::-webkit-scrollbar-thumb:vertical {height: 50px; background-color: #6f7985; border-radius: 8px;}
        ::-webkit-scrollbar-thumb:horizontal{ background: #6f7985; border-radius: 8px; }
        ::-webkit-scrollbar-corner { background-color: #666;}
        ::-webkit-resizer { background-color: #666;}
    }
    .graySF .opcAdmin{
        div, table,tr,td,th,input,
        .AdCards_Button,
        .AdCards_Heading{
            font-size: 12px !important;
        }
    }
    .grayBF .opcAdmin{
        div, table,tr,td,th,input,.AdCards_Button,
        .AdCards .AdCardsHeader .AdCards_Heading{
            font-size: 14px !important;
        }
    }
    .grayNC .opcAdmin{
        div, table,tr,td,th,input,.AdCards_Button,
        .AdCards .AdCardsHeader .AdCards_Heading{
            opacity: 0.9 !important;
        }
    }
    .grayLC .opcAdmin{
        div, table,tr,td,th,input,.AdCards_Button,
        .AdCards .AdCardsHeader .AdCards_Heading{
            opacity: 0.8 !important;
        }
    }
    
    .white .opcAdmin{
        div, table,tr,td,th,input{
          //  background:$white;
            color:#000 !important;
          //  border-color: #c2cfd6;
        }
        .AdCards_Button{
            color:#000 !important;
        }
        // .alert {
        //     border: 1px solid #4771A5 !important;
        // }
        // .alert-danger {
        //     color: #813838 !important;
        //     background-color: #fee2e1 !important;
        // }
        // .red {
        //     color: red !important;
        // }
    }
    .whiteSF .opcAdmin{
        div, table,tr,td,th,input,.AdCards_Button,
        .AdCards .AdCardsHeader .AdCards_Heading{
            font-size: 12px !important;
        }
    }
    .whiteBF .opcAdmin{
        div, table,tr,td,th,input,.AdCards_Button,
        .AdCards .AdCardsHeader .AdCards_Heading{
            font-size: 14px !important;
        }
    }
    .whiteNC .opcAdmin{
        div, table,tr,td,th,input,.AdCards_Button,
        .AdCards .AdCardsHeader .AdCards_Heading{
            opacity: 0.9 !important;
        }
    }
    
    .whiteLC .opcAdmin{
        div, table,tr,td,th,input,.AdCards_Button,
        .AdCards .AdCardsHeader .AdCards_Heading{
            opacity: 0.8 !important;
        }
    }
